.itemdetail-box{
    width: 100%;
    margin: 10px auto;
    border-top: 2px solid rgb(231, 122, 19);
}
.common-fanhui {
    list-style: none;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    width: 0px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    left:-60px;
    font-size: 21px
}
.itemdetail-position{
    width: 80%;
    margin: 10px auto;
}
.itemdetail-detail{
    width: 80%;
    margin: 10px auto;
    position: relative;
}

.swiper-container{
    width: 450px;
    height: 300px;
    margin: 0;
}
.itemdetail-detailbox{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
}
.itemdetail-detailbox>div{
    margin-bottom: 10px;
}
.itemdetail-detailtitle{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid #cccccc;
}

.itemdetail-btn{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 5px;
    cursor: pointer;
}